body {
    margin: 0;
}

nav {
    width: 100vw;
    height: 80px;
    background: #333;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
}

#logo {
    height: 70px;
    border-radius: 50%;
}

nav a {
    color: #ddd;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: yellow;
}

#links-container {
    display: flex;
    gap: 25px
}